<div class="container">
	<h2>&copy;2015 ov3rk1ll.com</h2>
	<p class="lead">Get the source at <a href="https://github.com/ov3rk1ll/photomap">https://github.com/ov3rk1ll/photomap</a></p>
	<h3><span class="lead">Made with</span>
	<a href="https://angularjs.org/">AngularJS</a>, 
	<a href="http://angular-ui.github.io/angular-google-maps/">Angular Google Maps</a>, 
	<a href="https://github.com/JamesRandall/AngularJS-OAuth2">AngularJS OAuth2</a>, 
	<a href="http://lipis.github.io/bootstrap-social/">Social Buttons for Bootstrap</a>
	</h3>
</div>
